body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

.login-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
  }

.form-control {
    border-radius: 8px;
  }

.btn-primary {
    border-radius: 8px;
    width: auto; /* Adjust the button width */
    margin-top: 10px; /* Add some margin for spacing */
  }