body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }

.container {
    max-width: 900px;
    margin-top: 50px;
  }

h3 {
    text-align: center;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 30px;
  }

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

.table th, .table td {
    text-align: center;
  }